<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test 2GIS</title>
	<link href="styles/style.css" type="text/css"  rel="stylesheet" >
</head>
<body>
	<div class="globalWrapper">
		<script id="entry-template" type="text/x-handlebars-template">
				<section class="block block_{{type}}" data-type="{{type}}">
					<div class="block__content">
						<div class="block__numberContainer">
							<div class="block__number">1</div>
						</div>
					</div>
				</section>
		</script>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/libs/handlebars-v4.0.11.js"></script>
	<script src="data/narrow-wide-narrow.js"></script>
	<script src="js/common.js"></script>
</body>
</html>