body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: #f6f2de;
	color: #000;
	transition-duration: 0.5s;
}

.globalWrapper {
	padding: 20px 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column-reverse;
	-moz-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	-o-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.block {
	height: calc(100vh - 40px);
	background-color: #fff;
	box-shadow: 0 0 8px 0 rgba(1, 1, 1, 0.2);
}

.block {
	width: 400px;
	margin-top: 40px;
}

.block:last-child {
	margin-top: 0;
}

.block_wide:last-child {
	width: 100%;
	max-width: 960px;
}

.block + .block:last-child {
	margin-left: 60px;
}

.block__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	height: 100%;
}

.block__number {
	display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1em;
  max-width: 200px;
  padding: 20px;
  border: 4px solid #000;
  font-family: Arial;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  border-radius: 50%;
}

.block__number:before {
  content:'';
  float: left;
  width: auto;
  padding-bottom: 100%;
}
/*
body:hover:not(.block) {
	background-color: #000;
}*/